html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 60px 20px;
}
h1 {
  font-weight: 500;
  font-size: 28px;
}
.introduction h1::after 
{ content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #407bff;
  margin-top: 10px;
  margin-bottom: 30px;
margin-left: auto;
margin-right: auto;}
h2 {
  font-weight: 500;
  font-size: 16px;
}
.container {
  text-align: center;
}
.introduction {
  color: #8b8b8b;
}
.introduction h1 {
  margin-top: 40px;
  color: black;
}

.traveler {
  text-align: center;
  margin-top: 60px;
  width: 350px;
}
.description {
  text-align: center;
  margin-bottom: 30px;
  color: #8b8b8b;
}
@media screen and (min-width: 640px) {
  .traveler {
    max-width: 400px;
  }
  .description {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
.choice {
  margin-bottom: 60px;
}
.choice button {
  padding: 10px 30px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-family: Montserrat;
}

.choice button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.blue {
  background-color: #407bff;
  margin-bottom: 10px;
}
.grey {
  background-color: #8b8b8b;
}
@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;

    margin-bottom: 80px;
  }
  .introduction h1::after 
  { margin-left: 0;}

  .happy {
    order: 2;
    width: 490px;
    flex: 0 1 490px;
    margin-top: 60px;
  }
  .traveler {
    max-width: 425px;
    margin-right: auto;
    margin-left: auto;
  }
  .descriptionmain {
    order: 1;
    width: 490px;
    flex: 0 1 490px;
    margin-top: 130px;
  }
  .introduction,
  .description {
    text-align: left;
    font-weight: 300;
  }
  .introduction p {
    width: 490px;
    font-size: 16px;
  }

  
}
@media screen and (min-width: 640px) {
  .choice {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .blue {
    flex: 0 1 45%;
    padding: 10px 30px;
    margin-bottom: 0;
  }
  .grey {
    flex: 0 1 50%;
    padding: 10px 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .choice {
    width: 460px;
    display: flex;
    margin-left: 0;
  }
  .choice button {
    margin: 0;
  }
  .blue {
    flex: 0 1 200px;
  }
  .grey {
    flex: 0 1 240px;
    margin-left: 20px;
  }
}

.services,
.guides {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.services p,
.guides p {
  color: #8b8b8b;
  margin-bottom: 30px;
}
.services {
  margin-bottom: 60px;
}
.services h2,
.guides h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  padding: 5%;
  margin-bottom: 15px;
  background-color: white;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 300;
  box-shadow: 0px 4px 6px #407BFF1F;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 10%;
  flex: 0 1 10%;
}
.option {
  flex: 0 1 80%;
  margin: 0;
}
.option p {
  margin: 0;
}

@media screen and (min-width: 640px) {
  .services p,
  .guides p {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .services {
    margin-bottom: 80px;
  }
  .flexcards1,
  .flexcards2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc((100% - 40px) / 3);
    padding: 40px 15px;
    text-align: center;
    display: block;
    
  }
  .icon {
    width: 45px;
    margin-bottom: 20px;
  }
  .option {
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  .services {
    display: flex;
    width: 1040px;
    text-align: left;
    margin-bottom: 80px;
  }
  .services h2 {
    margin-top: 0;
  }
  .flexcards1 {
    order: 1;
    max-width: 550px;
    flex: 0 1 550px;
    margin-right: 60px;
  }
  .services-intro {
    max-width: 430px;
    flex: 0 1 430px;
    order: 2;
    margin-left: 60px;
  }
  .guides {
    display: flex;
    width: 1040px;
    text-align: left;
  }
  .guides h2 {
    margin-top: 0;
  }
  .guides-intro {
    order: 1;
    max-width: 430px;
    flex: 0 1 430px;
    margin-right: 60px;
  }
  .flexcards2 {
    order: 2;
    max-width: 550px;
    flex: 0 1 550px;
    margin-left: 60px;
  }
}

